.Address_delivery_container{
    border: 1px solid rgb(214, 209, 209);
    margin-top: 20px;
    padding: 10px 20px;
    // height: 425px;

    .shopping {
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px 15px;
        font-size: 10px;
        border: 1px solid rgb(226, 224, 224);
        background-color: #fff;
        color: #000;
        font-family: Montserrat, serif;
    }

    .total_cost{
        background-color: rgb(230, 228, 228);
        padding: 10px 20px;
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        span{
            font-weight: 500;
        }
    }

    .gift_coupons_container {
        background-color: rgb(246, 250, 252);
        padding: 10px 10px;
        margin-top: 20px;
        width: 100%;
    }

    label {
        font-weight: 600;
        font-size: 13px;
    }
}

.btns_container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;

    .shopping {
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px 15px;
        font-size: 10px;
        border: 1px solid rgb(226, 224, 224);
        background-color: #fff;
        color: #000;
        font-family: Montserrat, serif;
    }
    .proceed_step{
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px 15px;
        font-size: 10px;
        border: none;
        background-color: #003f67;
        color: white;
        font-family: Montserrat, serif;
    }


}