.create_product_btn {
    display: flex;
    justify-content: flex-end;

    .create_role {
        font-weight: bold;
        letter-spacing: 1px;
        width: 120px;
        height: 34px;
        font-size: 12px;
        border: none;
        background-color: #003f67;
        color: white;
        font-family: Montserrat, serif;
        margin-top: 20px;
    }
}

.details_container {
    padding: 25px 20px;
    display: flex;
    flex-flow: wrap;
    column-gap: 20px;
    width: 100%;

    b {
        margin-right: 12px;
    }

    p {
        padding: 3px 15px;
        border: 1px solid rgb(211, 210, 210);
    }
}

.product_detail_img {
    object-fit: contain;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    img {
        border-radius: 100px;
        width: 150px;
        height: 150px;
    }
}

.color_size_container {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 10px;
    border: 1px solid rgb(211, 210, 210);
    p {
        border: none;
        margin: 5px;
        padding-bottom: 0px !important;
    }
    div {
        text-align: center;
    }
}

.image-gallery-slide .image-gallery-image {
    height: 250px !important;
}
