@import "../../../color";

.header {
  background-color: $bgColor;
  .navbar {
    overflow: hidden !important;
  }

  p,
  a {
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    margin: 0;

    &:hover {
      color: #fff !important;
    }
  }
}
.divider {
  margin: 0;
  color: #0003;
}
.logo_section {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

  .icon_section {
    svg {
      font-size: 25px;
      margin-right: 15px;
    }
  }
}
.collection_section {
  .Navbar {
    overflow: hidden;
  }
  .nav-link {
    color: #000 !important;
  }
}
a {
  &:hover {
    color: #000 !important;
  }
}

.addtocard_container {
  position: relative;
  cursor: pointer;

  span {
    background: #003f67;
    color: white;
    font-weight: bold;
    padding: 2px 3px;
    font-size: 12px;
    border-radius: 100px;
    position: absolute;
    left: 18px;
    top: -5px;
    text-align: center;
    width: 20px;
    height: 20px;
  }
}
