.shop_container {

  h3{
    font-family: Montserrat, serif;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }

  .inner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;

    .colors_section{
      margin: 30px;
    }
  }
}