.page_responsive{
  label{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .edit_page_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
}

//.ql-container.ql-snow {
//  height: auto !important;
//}

.main_section{
  display: flex;
  justify-content: space-around;
  gap: 5px;
}