.border_box {
  border: 1px solid grey;
  padding: 0 !important;

  .get_in_touch_container{
    padding: 10px 20px;

    h4{
      font-family: serif;
      font-weight: bold;
      font-size: 28px;
    }

    p{
      font-family: Montserrat, serif;
      font-size: 15px;
      color: #000;
    }
  }

  .form_container {
    width: 100%;
    margin-top: 10px;
    padding: 15px 50px;
    background-color: #f5f8fa;
    height: auto;
    font-family: Montserrat, serif;

    h6{
      font-family: Montserrat, serif;
      font-size: 16px;
      font-weight: bold;
    }

    Button {
      position: relative;
      float: right;
      font-weight: bold;
      letter-spacing: 1px;
      width: 127px;
      height: 34px;
      font-size: 12px;
      border: none;
      background-color: #003f67;
      color: white;
      font-family: Montserrat, serif;
      margin-top: 20px;
    }
  }

  .border_icons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:#f5f8fa ;
    font-family: Montserrat, serif;

    p{
      padding-top: 10px;
      font-size: 11px;
      font-weight: 500;
      overflow-wrap:break-word;
    }

    .css-12m9wit-MuiButtonBase-root-MuiFab-root {
      background-color: white !important;
      color: #003f67;
    }
  }
}

.contact_image_container{
   height: 100%;
  img{
    height: 100%;
    width: 100%;
    margin-top: 12px;
  }
}