.buttons_container{
  display: flex;
  gap:5px ;
  button{
    font-weight: bold;
    letter-spacing: 1px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    border: none;
    background-color: #003f67;
    color: white;
    font-family: Montserrat, serif;
  }
}