.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: #F5F8FA;

    p{
        text-align: center;
    }

    .footer_form {
        margin-bottom: 30px;

        input{
            background: #fff;
            border: 1px solid #d7d7d7;
            height: 36px;
            padding: 4px 120px 7px 4px;
            border-radius: unset;

            ::placeholder {
                font-size: 12px;
            }
        }

        Button{
            background: #003f67;
            color: #fff;
            font-size: 11px;
            padding: 8px 50px;
            border-radius: unset;
            border: 1px solid #003f67;
        }

    }

    .hr_tag{
        width: 100%;
        border-bottom: 1px solid #80808045;
    }

    .footer_logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 0;

        p{
            text-align: center;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            font-weight: 500;
            margin-top: 20px;
            border-top: 1px solid #8080804a;
            border-bottom: 1px solid #8080804a;
            padding: 15px 0;

            li{
                margin-right: 15px;
                cursor: pointer;
            }
        }
    }

    .footer_links{

        h2{
            text-align: center;
        }

        .social_icons{
         display: flex;
         margin-bottom: 30px;

            svg{
                margin: 0 10px;
                color: #003f67;
                width: 40px;
                height: 40px;
                padding: 11px;
                background-color: #fff;
                border-radius: 100px;
                box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
            }
        }
    }

}


.all_rights{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F5F8FA;
    padding: 20px;

    p{
        margin: 0;
    }

    .payment_method{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p{
            margin-right: 15px;
        }

        img{
            margin-right: 15px;
            height: 33px;
            padding: 3px;
            box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
        }
    }
}

@media (max-width: 767px) {

    .footer{

        .footer_logo{
            ul{
                justify-content: center;
                padding: 15px 15px;

                li{
                    padding-bottom: 15px;


                }
            }
        }

        .footer_form {

            Button{
              display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 15px;
            }

        }
    }

    .all_rights{
        p{
            padding-bottom: 10px;
        }

    }

}

a{
    color: #000;
    text-decoration: none;
}