.edit_product {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
    .card {
      width: 12rem;
      input {
        position: absolute;
        width: 21px;
        height: 21px;
      }
      img {
        height: 126px;
      }
    }

    span{
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 7px;
        font-size: 22px;
        color: rgb(207, 45, 45);
        font-weight: lighter;
    }
  }