.about_main{
  background: url('../../assets/img/about.png');
  width: 100%;
  background-size: cover;
  height: 300px;
  h1{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.shop_main{

  background: url('../../assets/img/clothes.png');
  width: 100%;
  background-size: cover;
  height: 300px;

  h1{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
    
}

.policy_bg{
  background: url('../../assets/img/policy_bg.png') !important;
  width: 100%;
  background-size: cover;
  height: 300px;
}